<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
    <link rel="icon" href="https://as1.ftcdn.net/v2/jpg/01/27/26/84/500_F_127268496_BPJ8jtDMU4JpCVjrkTl0ZfpQhXpl5Aw7.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="Slick/slick-theme.css">
    <link rel="stylesheet" href="Slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>Thương hiệu thời trang nữ PEA_FASHION</title>
</head>
<body>
    <header>
        <div class="top-header">
            <img class="make-pointer" src="https://pos.nvncdn.net/4ef0bf-108661/bn/20230321_E1uS9Qye.jpeg" alt="">
        </div>
        <div class="bot-header">
            <div class="container">
                <div class="logo-header">
                    <img class="make-pointer" src="https://as1.ftcdn.net/v2/jpg/01/27/26/84/500_F_127268496_BPJ8jtDMU4JpCVjrkTl0ZfpQhXpl5Aw7.jpg" alt="">
                </div>
                <div class="menu-header">
                    <ul class="tp-menu">
                        <li><a href="#">ĐỒ ĐI LÀM</a> </li>
                        <li><a href="#">ĐỒ ĐI CHƠI</a></li>
                        <li><a href="#">ĐỒ ĐI TIỆC</a></li>
                        <li><a href="#">XU HƯỚNG</a></li>
                        <li><a href="#">SS'23 CAMPAIGN <span class="new-tick">NEW</span></a> </li>
                        <li><a href="#">LOOK BOOK</a></li>
                        <li><a href="#">BÀI VIẾT</a> </li>
                    </ul>
                </div>
                <div class="icon-header">
                    <div class="likelist-btn btn-icon">
                        <i class="bi bi-suit-heart"></i>
                    </div>
                    <div class="cartlist-btn btn-icon">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="user-btn btn-icon">
                        <div class="bi bi-person"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="policyBot">
            <div class="container">
                <ul>
                    <li>
                        <a href="#">
                            <img src="https://pos.nvncdn.net/4ef0bf-108661/bn/20220217_DbZC1P3EtEQCzjezvBFKNdfn.PNG" alt="">
                            <span>Hệ thống cửa hàng</span>    
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://pos.nvncdn.net/4ef0bf-108661/bn/20220217_zI3LVzaVQ2ecO28wILTulXo0.PNG" alt="">
                            <span>Thông tin vận chuyển</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://pos.nvncdn.net/4ef0bf-108661/bn/20220217_6vuovyS0B4AEqbNDogOFTiB2.PNG" alt="">
                            <span>Chính sách tích điểm</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="bannerHome">
        <div class="bannerImg">
            <div class="stage-outer">
                <a href="#"><img style="width: 100%" src="https://pos.nvncdn.net/4ef0bf-108661/bn/20230420_HOOaL2os.jpeg" alt=""> </a>
            </div>
        </div>
        <div class="boxSearch">
            <form class="search-btn" action="search" method="get">
                <input type="text" class="searchBox" placeholder="Bạn muốn tìm sản phẩm gì?">
                <button type="submit">Tìm kiếm ngay</button>
            </form>
        </div>
    </div>
    <div class="category-session">
        <div class="list-cate">
            <div class="cate-item">
                <a class="menu-img-icon" href="#">
                    <img class="lazyloaded" src="https://pos.nvncdn.net/4ef0bf-108661/pc/20211012_Vag7apRJM1rEJHHSo5lKbQYk.png" alt="">
                    <div class="image-title">Đầm</div>
                </a>
            </div>
            <div class="cate-item">
                <a class="menu-img-icon" href="#">
                    <img class="lazyloaded" src="https://pos.nvncdn.net/4ef0bf-108661/pc/20211012_7Z5OnDTzjU2l1gugbxnoN9GS.png" alt="">
                    <div class="image-title">Áo</div>
                </a>
            </div>
            <div class="cate-item">
                <a class="menu-img-icon" href="#">
                    <img class="lazyloaded" src="https://pos.nvncdn.net/4ef0bf-108661/pc/20211012_Ll1EKSnE1tm2gmg21vglg6K9.png" alt="">
                    <div class="image-title">Quần</div>
                </a>
            </div>
            <div class="cate-item">
                <a class="menu-img-icon" href="#">
                    <img class="lazyloaded" src="https://pos.nvncdn.net/4ef0bf-108661/pc/20211012_Ci4aT211GpqlV3fgJsR6HXzk.png" alt="">
                    <div class="image-title">Chân Váy</div>
                </a>
            </div>
            <div class="cate-item">
                <a class="menu-img-icon" href="#">
                    <img class="lazyloaded" src="https://pos.nvncdn.net/4ef0bf-108661/pc/20211012_rWpD2qGv2pDVmSDkscoMRMoV.png" alt="">
                    <div class="image-title">Áo Khoác</div>
                </a>
            </div>
        </div>
    </div>
    <div class="bannerPromotion">
        <div class="container">
            <div class="row">
                <div class="bannerPromotionItem">
                    <a href="#">
                        <img class="lazyloaded mt-right" src="https://pos.nvncdn.net/4ef0bf-108661/bn/20230314_DCcUCXWM.jpeg" alt="">
                    </a>
                </div>
                <div class="bannerPromotionItem">
                    <a href="#">
                        <img class="lazyloaded mt-left" src="https://pos.nvncdn.net/4ef0bf-108661/bn/20230407_yjL7Jqm7.jpeg" alt="">
                    </a>
                </div>
                <div class="bannerPromotionItem">
                    <a href="#">
                        <img class="lazyloaded mt-right" src="https://pos.nvncdn.net/4ef0bf-108661/bn/20230221_xFiAT2cbMSZyb2vW.jpeg" alt="">
                    </a>
                </div>
                <div class="bannerPromotionItem">
                    <a href="#">
                        <img class="lazyloaded mt-left" src="https://pos.nvncdn.net/4ef0bf-108661/bn/20230421_6ywrcpki.jpeg" alt="">
                    </a>
                </div>
                <div class="bannerPromotionItem">
                    <a href="#">
                        <img class="lazyloaded mt-right" src="https://pos.nvncdn.net/4ef0bf-108661/bn/20230407_P4vHd5zt.jpeg" alt="">
                    </a>
                </div>
                <div class="bannerPromotionItem">
                    <a href="#">
                        <img class="lazyloaded mt-left" src="https://pos.nvncdn.net/4ef0bf-108661/bn/20230421_DBd48qHT.jpeg" alt="">
                    </a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="productHotItem">
        <section class="itemHotProduct">
            <div class="container">
                <div class="titileProduct">
                    <h3>SẢN PHẨM BÁN CHẠY</h3>
                </div>
                <div class="hotProductList">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <a href="#">
                                            <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230421_tBH7yYcpkK.jpeg" alt="Đầm dài hoa cài cổ 1 hàng cúc">
                                        </a>
                                    </div>
                                    <div class="productInfor">
                                        <a href="#">
                                            <h4 class="productName">Đầm dài hoa 1 hàng cúc</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: #fff;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: black;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">1,155,000đ</span>
                                        </div>
                                    </div>
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(287 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <a href="#">
                                            <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230417_XaVltAaRv5.jpeg" alt="">
                                        </a>
                                    </div>
                                    <div class="productInfor">
                                        <a href="#">
                                            <h4 class="productName" >Đầm vạt chéo xếp ly</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: #fff;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: black;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">1,085,000đ</span>
                                        </div>
                                    </div>
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(87 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <a href="#">
                                            <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230417_fccUmACub5.jpeg" alt="">
                                        </a>
                                    </div>
                                    <div class="productInfor">
                                        <a href="">
                                            <h4 class="productName" >Đầm vai chờm ngực nơ</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: #fff;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: black;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">855,000đ</span>
                                        </div>
                                    </div>
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(177 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230417_nb0Ts6XBmC.jpeg" alt="">
                                    </div>
                                    <div class="productInfor">
                                        <a href="">
                                            <h4 class="productName" >Đầm cổ yếm cài hoa</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: #D3DEDC;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: #FFF8F3;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: #FFE3E3;;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">975,000đ</span>
                                        </div>
                                    </div>
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(392 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230417_lRDUb7JIba.jpeg" alt="">
                                    </div>
                                    <div class="productInfor">
                                        <a href="">
                                            <h4 class="productName" >Chân váy dài bèo 2 bên</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: #D8B384;;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: black;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">975,000đ</span>
                                        </div>
                                    </div>   
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(432 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230417_Z1BsZzY3yn.jpeg" alt="">
                                    </div>
                                    <div class="productInfor">
                                        <a href="">
                                            <h4 class="productName" >Đầm trễ vai ba nơ ngực</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: #FFF8F3;;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: #FFE3E3;;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: #FF8800;;;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">955,000đ</span>
                                        </div>
                                    </div>
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(250 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230417_EcFMXRAG0B.jpeg" alt="">
                                    </div>
                                    <div class="productInfor">
                                        <a href="">
                                            <h4 class="productName" >Áo lệch vai thắt dây</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: white;;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: black;;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">495,000đ</span>
                                        </div>
                                    </div>
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(211 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230417_4kYfzlFTjP.jpeg" alt="">
                                    </div>
                                    <div class="productInfor">
                                        <a href="">
                                            <h4 class="productName" >Đầm mảnh vạt thắt vai</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: white;;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: black;;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">975,000đ</span>
                                        </div>
                                    </div>
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(291 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230417_5j7mU9T9iq.jpeg" alt="">
                                    </div>
                                    <div class="productInfor">
                                        <a href="">
                                            <h4 class="productName" >Áo cổ V bèo</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: white;;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: black;;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">585,000đ</span>
                                        </div>
                                    </div>
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(179 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230417_2V2u0aFXKg.jpeg" alt="">
                                    </div>
                                    <div class="productInfor">
                                        <a href="">
                                            <h4 class="productName" >Đầm cúp ngực đính nơ</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: black;;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: #FFF8F3;;;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: #ffe3e3;;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">925,000đ</span>
                                        </div>
                                    </div>
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(224 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230418_eaYosdWesn.jpeg" alt="">
                                    </div>
                                    <div class="productInfor">
                                        <a href="">
                                            <h4 class="productName" >Đầm dài cổ vuông</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: #FFF8F3;;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: #dddddd;;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: black;;;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">1,095,000đ</span>
                                        </div>
                                    </div>
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(301 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 141.667px;margin-right: 18px;" class="owl-item">
                                <div class="productItem">
                                    <div class="productImage">
                                        <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230313_NY6xLyxNcT.png" alt="">
                                    </div>
                                    <div class="productInfor">
                                        <a href="">
                                            <h4 class="productName" >Đầm 2 dây đuôi cá</h4>
                                        </a>
                                        <div class="wrappMidInfor">
                                            <div class="colorProduct">
                                                <ul class="color-swatch">
                                                    <li class="colorItem">
                                                        <span style="background-color: black;;"></span>
                                                    </li>
                                                    <li class="colorItem">
                                                        <span style="background-color: white;;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productPrice">
                                            <span class="priceNew">875,000đ</span>
                                        </div>
                                    </div>
                                    <div class="productReviews">
                                        <div class="voteViews">
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                            <a class="starChoice">
                                                <i class="bi bi-star-fill"></i>
                                            </a>
                                        </div>
                                        <span class="numberPurchase">(361 đã bán)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-dots">
                        <button class="dot-slide">
                            <span></span>
                        </button>
                        <button class="dot-slide">
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <div class="clear"></div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-item">
                <h5 class="footerTittle">PEA FASHION</h5>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="#">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="#">Tin tức</a>
                        </li>
                        <li>
                            <a href="#">Hệ thống cửa hàng</a>
                        </li>
                        <li>
                            <a href="#">Thông tin tuyển dụng</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ hợp tác kinh doanh</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <h5 class="footerTittle">Liên kết với chúng tôi</h5>
                <div class="footer-content">
                    <ul>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-facebook"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-instagram"></i>
                                <span>Instagram</span>
                            </a>
                        </li>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-youtube"></i>
                                <span>Youtube</span>
                            </a>
                        </li>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-envelope"></i>
                                <span>Email:peafashion@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <h5 class="footerTittle">Chăm sóc khách hàng</h5>
                <div class="footer-content">
                    <ul>
                        <li>
                           <a href="#">Chính sách tích điểm</a> 
                        </li>
                        <li>
                           <a href="#">Chính sách vận chuyển</a> 
                        </li>
                        <li>
                           <a href="#">Chính sách đổi trả hàng</a> 
                        </li>
                        <li>
                           <a href="#">Chế độ bảo hành sản phẩm</a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
    <a id="account-btn" href="#">
        <i class="bi bi-person"></i>
    </a>
</body>
</html>