<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="login.css">
    <link rel="icon" href="https://as1.ftcdn.net/v2/jpg/01/27/26/84/500_F_127268496_BPJ8jtDMU4JpCVjrkTl0ZfpQhXpl5Aw7.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="Slick/slick-theme.css">
    <link rel="stylesheet" href="Slick/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>Thương hiệu thời trang nữ PEA_FASHION</title>
</head>
<body>
    <header>
        <div class="top-header">
            <img class="make-pointer" src="https://pos.nvncdn.net/4ef0bf-108661/bn/20230321_E1uS9Qye.jpeg" alt="">
        </div>
        <div class="bot-header">
            <div class="container">
                <div class="logo-header">
                    <img class="make-pointer" src="https://as1.ftcdn.net/v2/jpg/01/27/26/84/500_F_127268496_BPJ8jtDMU4JpCVjrkTl0ZfpQhXpl5Aw7.jpg" alt="">
                </div>
                <div class="menu-header">
                    <ul class="tp-menu">
                        <li><a href="#">ĐỒ ĐI LÀM</a> </li>
                        <li><a href="#">ĐỒ ĐI CHƠI</a></li>
                        <li><a href="#">ĐỒ ĐI TIỆC</a></li>
                        <li><a href="#">XU HƯỚNG</a></li>
                        <li><a href="#">SS'23 CAMPAIGN <span class="new-tick">NEW</span></a> </li>
                        <li><a href="#">LOOK BOOK</a></li>
                        <li><a href="#">BÀI VIẾT</a> </li>
                    </ul>
                </div>
                <div class="icon-header">
                    <div class="likelist-btn btn-icon">
                        <i class="bi bi-suit-heart"></i>
                    </div>
                    <div class="cartlist-btn btn-icon">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="user-btn btn-icon">
                        <div class="bi bi-person"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="policyBot">
            <div class="container">
                <ul>
                    <li>
                        <a href="#">
                            <img src="https://pos.nvncdn.net/4ef0bf-108661/bn/20220217_DbZC1P3EtEQCzjezvBFKNdfn.PNG" alt="">
                            <span>Hệ thống cửa hàng</span>    
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://pos.nvncdn.net/4ef0bf-108661/bn/20220217_zI3LVzaVQ2ecO28wILTulXo0.PNG" alt="">
                            <span>Thông tin vận chuyển</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://pos.nvncdn.net/4ef0bf-108661/bn/20220217_6vuovyS0B4AEqbNDogOFTiB2.PNG" alt="">
                            <span>Chính sách tích điểm</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section class="form-log">
        <div class="bread-crumb">
            <ul class="breadcrumbCate">
                <li><a href="#">Trang Chủ</a></li>
                <i style="width: 30px;font-size: 24px;color: white;" class="bi bi-arrow-right-short"></i>
                <li><a href="#">Tài Khoản</a></li>
            </ul>
        </div>
        <div class="boxUser">
            <div class="signIn col-half">
                <h2 class="title">Đăng Nhập</h2>
                <form id="formAccount">
                    <div class="form-group">
                        <label>Nhập SĐT hoặc Địa chỉ email</label>
                        <br>
                        <input class="input-account" type="text" name="username" placeholder="Email hoặc SĐT">
                    </div>
                    <div class="form-group">
                        <labeL>Mật khẩu</label>
                            <br>
                        <input class="input-account" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="wrapperBtn">
                            <a href="#">Đăng nhập</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="signUp col-half">
                <h2 class="title">Đăng Ký</h2>
                <form id="formAccountSignup">
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <br>
                        <input class="input-account" type="text" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ email</label>
                        <br>
                        <input class="input-account" type="text" placeholder="Email hoặc tên đăng nhập">
                    </div>
                    <div class="form-group">
                        <label>Họ và tên</label>
                        <br>
                        <input class="input-account" type="text" placeholder="Họ và tên">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <br>
                        <input class="input-account" type="text" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group">
                        <div class="wrapperBtn">
                            <a href="#">Tạo tài khoản</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
    </section>
    <footer>
        <div class="container">
            <div class="footer-item">
                <h5 class="footerTittle">PEA FASHION</h5>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="#">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="#">Tin tức</a>
                        </li>
                        <li>
                            <a href="#">Hệ thống cửa hàng</a>
                        </li>
                        <li>
                            <a href="#">Thông tin tuyển dụng</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ hợp tác kinh doanh</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <h5 class="footerTittle">Liên kết với chúng tôi</h5>
                <div class="footer-content">
                    <ul>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-facebook"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-instagram"></i>
                                <span>Instagram</span>
                            </a>
                        </li>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-youtube"></i>
                                <span>Youtube</span>
                            </a>
                        </li>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-envelope"></i>
                                <span>Email:peafashion@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <h5 class="footerTittle">Chăm sóc khách hàng</h5>
                <div class="footer-content">
                    <ul>
                        <li>
                           <a href="#">Chính sách tích điểm</a> 
                        </li>
                        <li>
                           <a href="#">Chính sách vận chuyển</a> 
                        </li>
                        <li>
                           <a href="#">Chính sách đổi trả hàng</a> 
                        </li>
                        <li>
                           <a href="#">Chế độ bảo hành sản phẩm</a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js" integrity="sha512-6DC1eE3AWg1bgitkoaRM1lhY98PxbMIbhgYCGV107aZlyzzvaWCW1nJW2vDuYQm06hXrW0As6OGKcIaAVWnHJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/View/Slick/slick.min.js"></script>
    <script src="/Include/assets/js/main.js"></script>
</body>
</html>