<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://as1.ftcdn.net/v2/jpg/01/27/26/84/500_F_127268496_BPJ8jtDMU4JpCVjrkTl0ZfpQhXpl5Aw7.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="Slick/slick-theme.css">
    <link rel="stylesheet" href="productDetail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>Chi tiết sản phẩm</title>
</head>
<body id="product_detail">
    <header>
        <div class="top-header">
            <img class="make-pointer" src="https://pos.nvncdn.net/4ef0bf-108661/bn/20230321_E1uS9Qye.jpeg" alt="">
        </div>
        <div class="bot-header">
            <div class="container">
                <div class="logo-header">
                    <img class="make-pointer" src="https://as1.ftcdn.net/v2/jpg/01/27/26/84/500_F_127268496_BPJ8jtDMU4JpCVjrkTl0ZfpQhXpl5Aw7.jpg" alt="">
                </div>
                <div class="menu-header">
                    <ul class="tp-menu">
                        <li><a href="#">ĐỒ ĐI LÀM</a> </li>
                        <li><a href="#">ĐỒ ĐI CHƠI</a></li>
                        <li><a href="#">ĐỒ ĐI TIỆC</a></li>
                        <li><a href="#">XU HƯỚNG</a></li>
                        <li><a href="#">SS'23 CAMPAIGN <span class="new-tick">NEW</span></a> </li>
                        <li><a href="#">LOOK BOOK</a></li>
                        <li><a href="#">BÀI VIẾT</a> </li>
                    </ul>
                </div>
                <div class="icon-header">
                    <div class="likelist-btn btn-icon">
                        <i class="bi bi-suit-heart"></i>
                    </div>
                    <div class="cartlist-btn btn-icon">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="user-btn btn-icon">
                        <div class="bi bi-person"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="policyBot">
            <div class="container">
                <ul>
                    <li>
                        <a href="#">
                            <img src="https://pos.nvncdn.net/4ef0bf-108661/bn/20220217_DbZC1P3EtEQCzjezvBFKNdfn.PNG" alt="">
                            <span>Hệ thống cửa hàng</span>    
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="https://pos.nvncdn.net/4ef0bf-108661/bn/20220217_zI3LVzaVQ2ecO28wILTulXo0.PNG" alt="">
                            <span>Thông tin vận chuyển</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://pos.nvncdn.net/4ef0bf-108661/bn/20220217_6vuovyS0B4AEqbNDogOFTiB2.PNG" alt="">
                            <span>Chính sách tích điểm</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section class="bread_cum">
        <div class="container">
            <div class="banner">
            </div>
            <div class="box-search">
                    <form class="search-btn" action="search" method="get">
                        <input type="text" class="searchBox" placeholder="Bạn muốn tìm sản phẩm gì?">
                        <button type="submit">Tìm kiếm ngay</button>
                    </form>
            </div>
            <ul class="breadCum-item">
                <li>
                    <a href="#">Trang chủ</a>
                    <i class="bi bi-arrow-right-short"></i>
                </li>
                <li style="margin-left: 8px;">
                    <a href="#">Đầm</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="productWrap">
        <div class="container">
            <div class="details-product">
                <div class="image-item">
                    <img src="https://pos.nvncdn.net/4ef0bf-108661/ps/20230511_9na8EG6NJz.jpeg" alt="">
                </div>
                <div class="infor-item">
                    <div class="inforProduct">
                        <h1>Áo cổ tròn 2 túi ốp đai eo</h1>
                        <div class="view_product">
                            <div class="productId">
                                <span>12345</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- <footer>
        <div class="container">
            <div class="footer-item">
                <h5 class="footerTittle">PEA FASHION</h5>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="#">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="#">Tin tức</a>
                        </li>
                        <li>
                            <a href="#">Hệ thống cửa hàng</a>
                        </li>
                        <li>
                            <a href="#">Thông tin tuyển dụng</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ hợp tác kinh doanh</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <h5 class="footerTittle">Liên kết với chúng tôi</h5>
                <div class="footer-content">
                    <ul>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-facebook"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-instagram"></i>
                                <span>Instagram</span>
                            </a>
                        </li>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-youtube"></i>
                                <span>Youtube</span>
                            </a>
                        </li>
                        <li class="socialItem">
                            <a href="#">
                                <i class="bi bi-envelope"></i>
                                <span>Email:peafashion@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <h5 class="footerTittle">Chăm sóc khách hàng</h5>
                <div class="footer-content">
                    <ul>
                        <li>
                           <a href="#">Chính sách tích điểm</a> 
                        </li>
                        <li>
                           <a href="#">Chính sách vận chuyển</a> 
                        </li>
                        <li>
                           <a href="#">Chính sách đổi trả hàng</a> 
                        </li>
                        <li>
                           <a href="#">Chế độ bảo hành sản phẩm</a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js" integrity="sha512-6DC1eE3AWg1bgitkoaRM1lhY98PxbMIbhgYCGV107aZlyzzvaWCW1nJW2vDuYQm06hXrW0As6OGKcIaAVWnHJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/View/Slick/slick.min.js"></script>
    <script src="/Include/assets/js/main.js"></script>
</body>
</html>