*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display",sans-serif;
}

.clear{
    clear: both;
}

.make-pointer{
    cursor: pointer;
}

header .top-header img{
    width: 100%;
    height: 40px;
}

.bot-header .container{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-left: 70px;
    margin-top: -30px;
    padding: 21px 15px;
    /* transition: all .3s ease; */
}

.bot-header .container .logo-header img{
    width: 100px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
}

.container .menu-header .tp-menu{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    /* width: 75%; */
    float: left;
} 

.container .menu-header .tp-menu{
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .menu-header .tp-menu li a{
    font-weight: 700;
    color: #303030;
    text-transform: uppercase;
    display: block;
    border-bottom: 2px solid #fff;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    
}

.container .menu-header .tp-menu li>a .new-tick{
    position: absolute;
    color: #c61b1b;
    font-size: 10px;
    border: 1px solid #c61b1b;
    padding: 2px 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    top: -25px;
    right: 5px;
}

.container .menu-header .tp-menu li{
    position: relative;
    padding-right: 35px;
}

.container .menu-header .tp-menu li>a:hover{
    border-bottom: 2px solid #c61b1b;
    width: 100%;

}

.container .icon-header{
    position: unset;
    display: flex;
    align-items: center;
    width: 16.66666667%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
}

.container .icon-header .btn-icon{
    margin-left: 30px;
    font-size: 20px;
}

/* .policyBot{
    background: #f2f2f2;
} */

.policyBot .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: #f2f2f2;
    padding: 5px 0;
    margin-top: -28px;

}

.policyBot .container ul{
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.policyBot ul li img{
    width: 32px;
}

.policyBot ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.policyBot ul li span{
    font-size: 16px;
    color: #989898;
    margin-left: 20px;
}

.bannerHome{
    position: relative;
}

.bannerHome .bannerImg{
    z-index: 1;
    width: 100%;
}

.bannerHome .bannerImg .stage-outer{
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}

.bannerHome .boxSearch{
    position: absolute;
    bottom: 40px;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.bannerHome .boxSearch form{
    width: 680px;
    display: inline-block;
    position: relative;
    border: 1px solid #fff;
    border-radius: 3px;
    background: #fff;
}

.bannerHome .boxSearch form input{
    color: #303030;
    padding: 12px 20px;
    width: 99%;
    border: none;
}

.bannerHome .boxSearch form button{
    background: #303030;
    color: #fff;
    border: none;
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0 15px;
    border-radius: 0 4px 4px 0;
    font-weight: bolder;
}

.list-cate{
    padding: 60px 0 70px;
    text-align: center;
    /* display: flex;
    justify-content: space-evenly; */
}

.list-cate .cate-item{
    display: inline-block;
    border: 1px dashed #969696;
    padding: 9px;
    border-radius: 50%;
    margin-right: 30px;
}

.list-cate .cate-item .menu-img-icon{
    display: inline-block;
    text-align: center;
    background: #eee;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 15px 0;
    text-decoration: none;
}

.list-cate .cate-item .menu-img-icon img{
    width: 40px;
    height: 40px;
}

.list-cate .cate-item .menu-img-icon .image-title{
    color: #303030;
    font-weight: bold;
    margin-top: 15px;
    line-height: 14px;
    font-size: 14px;
}

.bannerPromotion{
    margin: 68px 0 0;
}

.bannerPromotion .container{
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bannerPromotion .row .bannerPromotionItem{
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding: 9px;
    /* margin-bottom: 18px; */
}

.bannerPromotion .row .bannerPromotionItem .mt-right{
    margin-right: -80px;
}

.bannerPromotion .row .bannerPromotionItem .mt-left{
    margin-left: -80px;
}


.bannerPromotion .row img{
 width: 560px;
 height: 230px;
 vertical-align: middle;
}

.productHotItem .itemHotProduct .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container .titileProduct h3{
    font-size: 26px;
    line-height: 31px;
    color: #303030;
    text-transform: uppercase;
    text-align: center;
    margin: 42px 0 40px;
}

.container .hotProductList .owl-stage-outer {
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}

.container .hotProductList .owl-stage-outer .owl-stage{
    transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 1917px;
    position: relative;
    touch-action: auto;
}

.hotProductList .owl-stage-outer .owl-stage .owl-item{
    width: 141.667px;
    margin-right: 18px;
    float: left;
    min-height: 1px;
    position: relative;
}

.owl-item .productItem .productImage{
    position: relative;
}

.owl-item .productItem .productImage img{
    width: 100%;
    opacity: 1;
    transform-style: preserve-3d;
    transition: opacity .4s ease;
    object-fit: scale-down;
}

.owl-item .productItem .productInfor a{
    text-decoration: none;
    color: black;
}

.owl-item .productItem .productInfor .productName{
    height: 20px;
    color: #303030;
    font-size: 14px;
    font-weight: bolder;
    line-height: 20px;
    margin: 13px 0 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.owl-item .productItem .productInfor .wrappMidInfor{
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.owl-item .productItem .productInfor .productPrice{
    color: #d40404;
    font-weight: bold;
    order: 2;
    font-size: 14px;
    margin-right: 8px;
}

.owl-item .productItem .productReviews{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.owl-item .productItem .productReviews .voteViews{
    display: flex;
    align-items: center;
}

.owl-item .productItem .productReviews .voteViews .starChoice{
    font-size: 11px;
    color: #8e8e8e;
}

.owl-item .productItem .productReviews .numberPurchase{
    color: #656565;
    font-size: 12px;
}

.container .hotProductList .owl-dots {
    text-align: center;
    margin: 40px 0 70px;
}

.container .hotProductList .owl-dots .dot-slide {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background: #8e8e8e;
    border: none;
}

footer{
    background-color: #232222;
}

footer .container{
    border-bottom: 1px solid #010101;
    padding: 60px 0 44px;
    display: flex;
    justify-content: space-evenly;
}


footer .container .footer-item .footerTittle{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 17px;
    font-weight: 600;
}

footer .container .footer-item .footer-content ul{
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

footer .container .footer-item .footer-content ul li{
    margin-bottom: 10px;
}

footer .container .footer-item .footer-content ul li a{
    color: #cbcbcb;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
}

#account-btn{
    position: fixed;
    right: 36px;
    bottom: 87px;
    background: #1fb6ff;
    color: #fff;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    border-radius: 50%;
    font-size: 16px;
    z-index: 99;
}

#account-btn i{
    font-size: 25px;
}
























